body.home {
  background-color: #E2DFD2
}
/* Top bar across all pages */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 24px;
  z-index: 1000;
   list-style-type: none;
}
   ull{
        float: left;
  
        padding: 20px;
        color: white;
    }

/* Add spacing so content isn't hidden behind the fixed top bar */
.Ireland,
.ireland-page {
  margin-top: 100px;
  text-align: center;
}
.Spain,
.spain-page {
  margin-top: 100px;
  text-align: center;
}
.Poland{
    margin-top: 90px;
    text-align: center;
}


.Poland-page {
  margin-top: 90px;
  text-align: left;
    .pol-flag {
        background-image: url("../folder/poland-polsha-flag.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        h1{
            margin: 0;
            padding: 10px;
        }
        padding: 60px 10px;
        text-align: center;

        image-rendering: auto;
        background-repeat: no-repeat;
    }


}


     .Poland-sob {
        h1{
            text-align: center;
        }
         text-align: center;
         color: white;
         background-color: black;
         .palace {
             height: auto;
             width: 50%;
             display: block;
             margin:20px auto;

         }
     }


.Poland-Destinations_Warsaw {
    .war{
        height:auto;
        width: 50%;
        display: block;
        margin: 20px auto;
    }
    text-align: center;
    color: white;
    background-color: black;
}
.Poland-zab{
    background-color: black;
    color: white;
    text-align: center;

    .Poland-z{
        height: auto;
        width: 50%;
        display: block;
        margin: 20px auto;
    }
}
.Poland-Hotels{
    h1,
    h2 {
        text-align: center;
        text-emphasis: black;
    }


/* Link styling */
a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}
.spain-page {
    background-image: url("../folder/Spain_flag.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
  background-size: cover;
}
.spain-page {
  color: white;
}
.spain-page h1,
.spain-page h2 {
  color: black;
}
.image-row {
  display: flex;         
  justify-content: center; 
  gap: 15px;               
  margin-top: 10px;        
}

/* Individual image styling */
.paragraph-image {
  max-width: 45%; 
  height: auto;  
  border-radius: 6px;
}

} 
.France-page {
  colour:white;
}
.France-page h1 
.France-page h2 {
   color:black;
}























