/* Top bar across all pages */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1000;
}

/* Add spacing so content isn't hidden behind the fixed top bar */
.Ireland,
.ireland-page {
  margin-top: 100px;
  text-align: center;
}

/*poland link */
.Poland,
.poland-page {
  margin-top: 90px;
  text-align: center; 
}
/* Link styling */
a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}



