/* Top bar across all pages */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 24px;
  z-index: 1000;
  list-style-type: none;
}
    li1{
        float: left;

    }
    li1 a{
        text-align: center;
        padding: 16px;
        color: white;
    }

/* Add spacing so content isn't hidden behind the fixed top bar */
.Ireland,
.ireland-page {
  margin-top: 100px;
  text-align: center;
}

/*poland link */
.Poland{
   margin-top: 90px;
  text-align: center;
}
.Poland-page {
  margin-top: 90px;
  text-align: center; 
}
.Poland-Destination {


}
/* Link styling */
a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}










